<div class="form-constructor">

    <div class="login">

<h2 id="login-header">Signup</h2>

<form action="/auth/signup" method="POST" id="form-container">

<div class="form-holder">
  <label for="username"></label>
  <input id="username" type="text" name="username" placeholder="Name">
</div>
  <br><br>

  <label for="password"></label>
  <input id="password" type="password" name="password" placeholder="Password">
  <br>
  {{#if message }}
    <div class="error-message">{{ message }}</div>
  {{/if}}

  <br><br>

  <button class="submit-btn">Create Account</button>

  <p class="account-message">
    Do you already have an account?
    <a href="/auth/login">Login</a>
  </p>
</form>
</div>
</div>